<h1>Wonderful Word Counter</h1>
  <div class="text">
    <h5>Please input a word, then a phrase that might contain the initial word. After clicking the button, you will be told how many times your initial word appeared in your phrase.</h5>
    <form action="/word_count">
      <div class="form-group">
         <label for="initial_word">Which word would you like to find?
    </label>
         <input id="initial_word" name="initial_word" class="form-control" type="text">
      </div>
      <div class="form-group">
         <label for="word_list">What word or phrase would you like to find the word in?
    </label>
         <input id="word_list" name="word_list" class="form-control" type="text">
      </div>
      <button type="submit" class="btn">Find</button>
    </form>
  </div>
