body {
  background-color: #ff4081;
}

h1, p, h2 {
  text-align: center;
  color: #ffffff;
}

h1 {
 font-family: 'Bungee', cursive;
 font-size: 86px;
 color: #b199ff;
}

.text, h2 {
  font-family: 'Arimo', sans-serif;
  font-size: 26px;
  padding-top: 56px;
  color: #ffffff;
}

.form-group {
  padding-top: 56px;
}

.input-label {
  margin-bottom: 20px;
}

.btn {
  width: 60px;
  margin-left: 43%;
  margin-top: 50px;
  background-color: #b199ff;
}
